<%- include('../partials/header')  %>
<p><%= question.title %></p>
<p><%= question.description %></p>
<p><strong>Created at:</strong><%= question.createdAt %></p>

<h2>Answers</h2>
<form action="/questions/<%= question.id %>/answers" method="post">
  <div class="">
    <textarea name="content" rows="5" cols="80"></textarea>
  </div>
  <input type="submit" name="submit" value="Submit">
</form>


<%- include('../partials/footer')  %>
