<%- include('../partials/header')  %>
<p><%= question.title %></p>
<p><%= question.description %></p>
<p><strong>Created at:</strong><%= question.createdAt %></p>



<%- include('../partials/footer')  %>
