<%- include('../partials/header')  %>
<h2>Question</h2>
<p><%= question.title %></p>
<p><%= question.description %></p>
<p><strong>Created at:</strong><%= question.createdAt %></p>

<%# Delete %>
<form action="/questions/<%= question.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="Delete">
</form>

<%# EDIT LINK%>
<a href="/questions/<%= question.id %>/edit">Edit</a>

<h2>Answers</h2>
<form action="/questions/<%= question.id %>/answers" method="post">
  <div class="">
    <textarea name="content" rows="5" cols="80"></textarea>
  </div>
  <input type="submit" name="submit" value="Submit">
</form>

<ul>
  <% for (let answer of answers) {%>
    <li>
      <p><%= answer.content %></p>
      <p>Created At: <%= answer.createdAt %></p>

    </li>
  <% } %>
</ul>
<%- include('../partials/footer')  %>
